/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.contact-container {
  max-width: 400px;
  min-height: 480px;
  max-height: 480px;
  background-color: white;
  padding: 30px;
  padding-left: 25px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

input, select, button {
  padding: 8px;
  font-size: 14px;
  border-radius: 10px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0d9e39;
}

button:disabled {
  background: #0faac5c5;
}

.error {
  color: red;
  font-size: 12px;
}
