/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.contact-container {
  max-width: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

input, select, button {
  padding: 8px;
  font-size: 14px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background: #ccc;
}

.error {
  color: red;
  font-size: 12px;
}
