.info-container {
  max-width: 400px;
  min-height: 480px;
  max-height: 480px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  padding-right: 30px;
}

p {
  margin: 8px 0;
  font-size: 18px;
}
