.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 2%;
}

.services img{
    width: 350px;
}

.services div{
    max-width: 350px;
    text-align: center;
}

h2{
    font-weight: 500;
}